<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Tambah Agenda</title>

    <link rel="icon"
          type="image/png"
          href="{{ url_for('static', filename='icons/logo.png') }}">

    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

    <div class="container">

        <div class="navbar">

            <div class="navbar-logo">
                OfficeTrack
            </div>

            <div class="navbar-menu">
                <a href="/dashboard">Dashboard</a>
                <a href="/finance">Finance</a>
                <a href="/logs">Logs</a>
                <a href="/logout">Logout</a>

                <button
                    id="theme-toggle"
                    type="button">
                    🌙
                </button>
            </div>
            
        </div>

        <div class="card">
            <h1>Tambah Agenda</h1>

            <form method="POST">

                <p>Judul Agenda</p>

                <input
                    type="text"
                    name="judul"
                    required
                >

                <p>Deskripsi</p>

                <textarea
                    name="deskripsi"
                    rows="5"
                ></textarea>

                <p>Tanggal</p>

                <input
                    type="date"
                    name="tanggal"
                    required
                >

                <label class="checkbox-group">

                
                    <input
                        type="checkbox"
                        name="prioritas"
                    >

                    Prioritas

                </label>

                <button type="submit">
                    Simpan Agenda
                </button>

            </form>
            
        </div>

        <br>

        <a href="/dashboard">
            Kembali ke Dashboard
        </a>

    </div>

    <script
        defer
        src="{{ url_for('static', filename='js/darkmode.js') }}">
    </script>
    
</body>
</html>