<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Edit Agenda</title>

    <link rel="icon"
          type="image/png"
          href="{{ url_for('static', filename='icons/logo.png') }}">

    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">

        <div class="navbar">

            <div class="navbar-logo">
                OfficeTrack
            </div>

            <div class="navbar-menu">
                <a href="/dashboard">Dashboard</a>
                <a href="/finance">Finance</a>
                <a href="/logs">Logs</a>
                <a href="/logout">Logout</a>
            </div>
            
        </div>

        <h1>Edit Agenda</h1>

        <form method="POST">

            <p>Judul Agenda</p>

            <input
                type="text"
                name="judul"
                value="{{ agenda[2] }}"
                required
            >

            <p>Deskripsi</p>

            <textarea
                name="deskripsi"
                rows="5"
            >{{ agenda[3] }}</textarea>

            <p>Tanggal</p>

            <input
                type="date"
                name="tanggal"
                value="{{ agenda[4] }}"
                required
            >

                
            <label class="checkbox-group">

            
                <input
                    type="checkbox"
                    name="prioritas"

                    {% if agenda[5] == 1 %}
                        checked
                    {% endif %}

                >

                Prioritas
            </label>


            <button type="submit">
                Simpan Perubahan
            </button>

        </form>

        <br>

        <a href="/dashboard">
            Kembali
        </a>

    </div>

</body>
</html>